---
# Caso API UN Comtrade

UN COMTRADE es el seudónimo para la base de datos estadística de comercio de las Naciones Unidas, en las cuales más de 170 países o áreas del mundo, llamados reporters, proveen información a la división estadística de las Naciones Unidas con su información anual acerca de comercio e intercambio detallada en categorías de commodities o servicios con sus partners de comercio. Más información en la web oficial de UN Comtrade (https://comtrade.un.org/).

Para la consulta de información, se dispone de una aplicación web de consultas mediante un formulario, así como también una API, la cual tiene acceso público.

- La interfaz de consultas para descargar información se encuentra en el siguiente enlace: https://comtrade.un.org/Data/
- La documentación de la API se encuentra en el siguiente enlace: https://comtrade.un.org/data/doc/api/


Se pide:

- Obtener datos las exportaciones de commodities de Chile para el año 2019 y 2020.
- Hacer un análisis exploratorio de los datos, variables numéricas y categóricas
- Hacer un análisis de valores nulos en el set de datos
- Hacer un análisis de outlaiers
- Aplicar técnicas de limpieza
- Guardar datos limpios en un archivo Excel


Nota: La siguiente uri ya cuenta con los parámetros adecuados para la obtención de los datos solicitados

```python

uri = 'https://comtrade.un.org/api/get/plus?r=152&rg=2&px=HS&ps=2019,2020&type=C&freq=A&p=all&max=100000&cc=AG2'
    
```

In [2]:
import pandas as pd

In [5]:
df=pd.read_csv('Comtrade-X-CL-PE.csv')
df

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Qty,Alt Qty Unit Code,Alt Qty Unit,Alt Qty,Netweight (kg),Gross weight (kg),Trade Value (US$),CIF Trade Value (US$),FOB Trade Value (US$),Flag
0,H5,2018,2018,2018,2,0,0,X,152,Chile,...,0,-1,NaN,0,NaN,NaN,8488213,NaN,8.488213e+06,0
1,H5,2018,2018,2018,2,0,0,X,152,Chile,...,0,-1,NaN,0,NaN,NaN,967501641,NaN,9.675016e+08,0
2,H5,2018,2018,2018,2,0,0,X,152,Chile,...,0,-1,NaN,0,NaN,NaN,5907535850,NaN,5.907536e+09,0
3,H5,2018,2018,2018,2,0,0,X,152,Chile,...,0,-1,NaN,0,NaN,NaN,152811730,NaN,1.528117e+08,0
4,H5,2018,2018,2018,2,0,0,X,152,Chile,...,0,-1,NaN,0,NaN,NaN,46352786,NaN,4.635279e+07,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32533,H5,2019,2019,2019,2,0,0,X,604,Peru,...,0,-1,NaN,0,0.0,0.0,6470,NaN,6.470190e+03,0
32534,H5,2019,2019,2019,2,0,0,X,604,Peru,...,0,-1,NaN,0,0.0,0.0,675,NaN,6.750000e+02,0
32535,H5,2019,2019,2019,2,0,0,X,604,Peru,...,0,-1,NaN,0,0.0,0.0,675,NaN,6.750000e+02,0
32536,H5,2019,2019,2019,2,0,0,X,604,Peru,...,0,-1,NaN,0,0.0,0.0,1600,NaN,1.600400e+03,0
32537,H5,2019,2019,2019,2,0,0,X,604,Peru,...,0,-1,NaN,0,0.0,0.0,1600,NaN,1.600400e+03,0

### Periodo 2019-2020

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32538 entries, 0 to 32537
Data columns (total 35 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Classification          32538 non-null  object
 1   Year                    32538 non-null  int64
 2   Period                  32538 non-null  int64
 3   Period Desc.            32538 non-null  int64
 4   Aggregate Level         32538 non-null  int64
 5   Is Leaf Code            32538 non-null  int64
 6   Trade Flow Code         32538 non-null  int64
 7   Trade Flow              32538 non-null  object
 8   Reporter Code           32538 non-null  int64
 9   Reporter                32538 non-null  object
 10  Reporter ISO            32538 non-null  object
 11  Partner Code            32538 non-null  int64
 12  Partner                 32538 non-null  object
 13  Partner ISO             32538 non-null  object
 14  2nd Partner Code        32538 non-null  int64
 15  2nd Partner             32538 non-null  object
 16  2nd Partner ISO         32538 non-null  object
 17  Customs Proc. Code      32538 non-null  object
 18  Customs                 32538 non-null  object
 19  Mode of Transport Code  32538 non-null  int64
 20  Mode of Transport       32538 non-null  object
 21  Commodity Code          32538 non-null  int64
 22  Commodity               32538 non-null  object
 23  Qty Unit Code           32538 non-null  int64
 24  Qty Unit                0 non-null      float64
 25  Qty                     32538 non-null  int64
 26  Alt Qty Unit Code       32538 non-null  int64
 27  Alt Qty Unit            0 non-null      float64
 28  Alt Qty                 32538 non-null  int64
 29  Netweight (kg)          28353 non-null  float64
 30  Gross weight (kg)       28468 non-null  float64
 31  Trade Value (US$)       32538 non-null  int64
 32  CIF Trade Value (US$)   0 non-null      float64
 33  FOB Trade Value (US$)   32538 non-null  float64
 34  Flag                    32538 non-null  int64
dtypes: float64(6), int64(17), object(12)
memory usage: 8.7+ MB

In [12]:
df['Year'].unique()

array([2018, 2019], dtype=int64)

In [19]:
s=df[df['Year']==2019]
s

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Qty,Alt Qty Unit Code,Alt Qty Unit,Alt Qty,Netweight (kg),Gross weight (kg),Trade Value (US$),CIF Trade Value (US$),FOB Trade Value (US$),Flag
4070,H5,2019,2019,2019,2,0,0,X,152,Chile,...,0,-1,NaN,0,NaN,0.0,8415513,NaN,8.415514e+06,4
4071,H5,2019,2019,2019,2,0,0,X,152,Chile,...,0,-1,NaN,0,0.0,0.0,1134387845,NaN,1.134388e+09,4
4072,H5,2019,2019,2019,2,0,0,X,152,Chile,...,0,-1,NaN,0,0.0,0.0,5767969794,NaN,5.767970e+09,4
4073,H5,2019,2019,2019,2,0,0,X,152,Chile,...,0,-1,NaN,0,0.0,0.0,136049068,NaN,1.360491e+08,0
4074,H5,2019,2019,2019,2,0,0,X,152,Chile,...,0,-1,NaN,0,0.0,0.0,41138876,NaN,4.113888e+07,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32533,H5,2019,2019,2019,2,0,0,X,604,Peru,...,0,-1,NaN,0,0.0,0.0,6470,NaN,6.470190e+03,0
32534,H5,2019,2019,2019,2,0,0,X,604,Peru,...,0,-1,NaN,0,0.0,0.0,675,NaN,6.750000e+02,0
32535,H5,2019,2019,2019,2,0,0,X,604,Peru,...,0,-1,NaN,0,0.0,0.0,675,NaN,6.750000e+02,0
32536,H5,2019,2019,2019,2,0,0,X,604,Peru,...,0,-1,NaN,0,0.0,0.0,1600,NaN,1.600400e+03,0
32537,H5,2019,2019,2019,2,0,0,X,604,Peru,...,0,-1,NaN,0,0.0,0.0,1600,NaN,1.600400e+03,0

In [20]:
s.describe()

,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Reporter Code,Partner Code,2nd Partner Code,Mode of Transport Code,...,Qty,Alt Qty Unit Code,Alt Qty Unit,Alt Qty,Netweight (kg),Gross weight (kg),Trade Value (US$),CIF Trade Value (US$),FOB Trade Value (US$),Flag
count,16280.0,16280.0,16280.0,16280.0,16280.0,16280.0,16280.000000,16280.000000,16280.0,16280.000000,...,16280.0,16280.0,0.0,16280.0,16201.0,16280.0,1.628000e+04,0.0,1.628000e+04,16280.000000
mean,2019.0,2019.0,2019.0,2.0,0.0,0.0,492.110565,409.329791,0.0,862.568182,...,0.0,-1.0,NaN,0.0,0.0,0.0,1.989490e+07,NaN,1.989490e+07,0.395577
std,0.0,0.0,0.0,0.0,0.0,0.0,195.082333,268.431412,0.0,1277.996546,...,0.0,0.0,NaN,0.0,0.0,0.0,3.477614e+08,NaN,3.477614e+08,1.194117
min,2019.0,2019.0,2019.0,2.0,0.0,0.0,152.000000,0.000000,0.0,0.000000,...,0.0,-1.0,NaN,0.0,0.0,0.0,0.000000e+00,NaN,1.000000e-02,0.000000
25%,2019.0,2019.0,2019.0,2.0,0.0,0.0,604.000000,188.000000,0.0,0.000000,...,0.0,-1.0,NaN,0.0,0.0,0.0,6.526000e+03,NaN,6.526227e+03,0.000000
50%,2019.0,2019.0,2019.0,2.0,0.0,0.0,604.000000,380.000000,0.0,0.000000,...,0.0,-1.0,NaN,0.0,0.0,0.0,7.260000e+04,NaN,7.260000e+04,0.000000
75%,2019.0,2019.0,2019.0,2.0,0.0,0.0,604.000000,642.000000,0.0,2100.000000,...,0.0,-1.0,NaN,0.0,0.0,0.0,8.292788e+05,NaN,8.292791e+05,0.000000
max,2019.0,2019.0,2019.0,2.0,0.0,0.0,604.000000,899.000000,0.0,9900.000000,...,0.0,-1.0,NaN,0.0,0.0,0.0,2.049390e+10,NaN,2.049390e+10,4.000000

### Valores nulos

In [21]:
s.isnull().sum()

Classification                0
Year                          0
Period                        0
Period Desc.                  0
Aggregate Level               0
Is Leaf Code                  0
Trade Flow Code               0
Trade Flow                    0
Reporter Code                 0
Reporter                      0
Reporter ISO                  0
Partner Code                  0
Partner                       0
Partner ISO                   0
2nd Partner Code              0
2nd Partner                   0
2nd Partner ISO               0
Customs Proc. Code            0
Customs                       0
Mode of Transport Code        0
Mode of Transport             0
Commodity Code                0
Commodity                     0
Qty Unit Code                 0
Qty Unit                  16280
Qty                           0
Alt Qty Unit Code             0
Alt Qty Unit              16280
Alt Qty                       0
Netweight (kg)               79
Gross weight (kg)             0
Trade Value (US$)             0
CIF Trade Value (US$)     16280
FOB Trade Value (US$)         0
Flag                          0
dtype: int64